/* ./src/App.css */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* กำหนดให้ Sidebar เคลื่อนที่ */
body.body-with-sidebar {
  overflow-x: hidden;
  transition: margin-left 0.3s ease-in-out;
}

/* CSS สำหรับ Sidebar */
.MuiDrawer-paper {
  width: 250px;
  /* คุณสามารถกำหนดให้ Sidebar มีความสูงเต็มหน้าจอ */
}

/* เมื่อ Sidebar ปิด */
.content {
  transition: margin-left 0.3s ease;
}


/* เมื่อหน้าจอเล็กกว่า 600px, ปรับ Sidebar ให้เล็กลง */


.content-with-sidebar {
  margin-left: 250px;
  transition: margin-left 0.3s ease-in-out;
}




